body {background-color: rgba(150, 150, 150, 80%);}

.link {
  text-align:center;
  margin-left:auto;
  margin-right:auto
}

#share {
  font-size: 20px;
  font-family: UbuntuMono;
}

@font-face {
  font-family: UbuntuMono;
  src: url("../fonts/UbuntuMono-Regular.ttf") format("truetype"); 
}

#ps {
  font-size: 10px;
}

.preloader {
  background-color: rgb(150, 150, 170);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
.preloader__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
